        <!--  MODAL MESSANGER-->
        <div class="messenger">
         <div class="modal fade" id="myMenssager" role="dialog" style="z-index: 9999;margin-top: 76px;margin-left: 90px;">
           <div class="modal-dialog modal-sm">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fjaimearoxaniteroi%2F&tabs=messages&width=320&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="320" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            <div class="container">
             <div id="fb-root"></div>
           </div>
         </div>
       </div>
     </div>
     <div class="row"></div>
     <!-- Container (Carousel) -->
     <div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel" data-interval="4000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/res/site/img/slider1.jpg" alt="slider1">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="/res/site/img/slider2.jpg" alt="slider2">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="/res/site/img/slider3.jpg" alt="slider3">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="/res/site/img/slider4.jpg" alt="slider4">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="/res/site/img/slider5.jpg" alt="slider5">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="/res/site/img/slider6.jpg" alt="slider6">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="/res/site/img/slider7.jpg" alt="slider7">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div id="home" class="jumbotron text-center">
      <img class="img img-responsive hidden-xs" src="/res/site/img/logo-escola-branco.png" alt="Jaime Aroxa Niteroi" style="width: 450px;margin:0 auto;">
      <p>Escolha o ritmo e mude sua vida!</p>
      <button class="btn btn-outline btn-danger btn-md" style="color: white;"><a href="#contato" style="text-decoration: none; color: white;">Entre em contato!</a></button>
    </div>


    <div id="parallax-world-of-ugg">

      <section>
        <div class="title">
          <h3>Venha conhecer nossa Escola!</h3>
          <h1>Carlinhos de Niterói</h1>
        </div>
      </section>

      <!-- EFEITO PARALLAX 1 -->
      <div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/background-1.jpg);background-size:cover;">
        <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
          <div class="text-center">
            <h2 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="">ATENDIMENTO PERSONALIZADO</h2>
          </div>
        </div>
      </div>

      <!-- Container (Home seção) -->
      <div id="carlinho_niteroi" class="container-fluid bg-grey">
        <div class="row">
          <div class="col-sm-8">
            <h2 style="color:black !important;font-size:25pt;">A ESCOLA</h2><br>
            <p style="font-size: 12pt;color: black;"><strong>A ESCOLA DE DANÇA JAIME ARÔXA CARLINHOS DE NITERÓI</strong> vem desenvolvendo suas atividades desde janeiro de 2001 em Niterói, que, na visão de seu idealizador, é um bairro que reconhece e valoriza a dança de salão como um meio de desenvolvimento da arte, do lazer e da cultura.</p>
            <p style="font-size: 12pt;color: black;">Nosso grupo, liderado pelo professor Carlinhos de Niterói, agrega uma excelente equipe de professores, bolsistas e funcionários, cuja missão é proporcionar um ambiente descontraído, alegre, harmonioso e aconchegante a todos que nos prestigiam – nossos alunos, nossos amigos e nossos visitantes.</p>
            <br>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <img src="/res/site/img/carlinhos-bianca.jpg" alt="" width="400" height="555" class="img img-responsive logo slideanim" style="margin: 0 auto;">
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-6">
            <p>A ESCOLA DE DANÇA JAIME ARÔXA NITERÓI &#8211; CARLINHOS DE NITERÓI vem desenvolvendo suas atividades desde janeiro de 2001 em Niterói, que, na visão de seu idealizador, é uma Cidade que reconhece e valoriza a dança de salão como um meio de desenvolvimento da arte, do lazer e da cultura.</p>
            <p>Nosso grupo, liderado pelo professor Carlinhos de Niterói, agrega uma excelente equipe de professores, bolsistas e funcionários, cuja missão é proporcionar um ambiente descontraído, alegre, harmonioso e aconchegante a todos que nos prestigiam &#8211; nossos alunos, nossos amigos e nossos visitantes.</p>
            <p>Todo este grande e maravilhoso esforço é, sempre, em prol da promoção do convívio social, de atividades divertidas e saudáveis, aliados à consagrada metodologia JAIME ARÔXA de ensino da Dança de Salão.</p>
            <p>Sejam muito bem-vindos à nossa grande família dançante!</p>

          </div>
          <div class="col"></div>
        </div>
      </div>
      <!-- EFEITO PARALLAX 2 -->
      <div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/background-azul.png);background-size:cover;">
       <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
         <div class="text-center">
           <h2 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="color: black;">"Venha dançar com gente!"</h2>
         </div>
       </div>
     </div>
     <!-- Container (Portfolio Seção) -->
     <div id="evento" class="container-fluid text-center bg-grey">
       <h2 style="color:black;font-size:25pt;">EVENTOS</h2>
       <div class="row text-center slideanim">
        {loop="$eventos"}
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="thumbnail">
            <img src="{$value.desphotoeventos}" alt="Baile Mensal" width="320" height="300" class="img-rounded">
            <h3 class="page-header text-center">{$value.tituloevento}</h3>
            <p>{$value.descevento}</p>
          </div>
        </div>
        {/loop}
<!--         <div class="col-sm-4">
          <div class="thumbnail">
            <img src="/res/site/img/baile-ao-ar-livre.jpg" alt="Baile ao Ar Livre" width="320" height="300">
            <h3 class="page-header text-center">Baile ao Ar Livre</h3>
            <p>Acontece no terceiro domingo de cada mês!!!</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="/res/site/img/baile-cn-zouk.jpg" alt="Baile CN Zouk" width="320" height="300">
            <h3 class="page-header text-center">Baile CN Zouk</h3>
            <p>Acontece na terceira sexta-feira de cada mês!!!</p>     
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="/res/site/img/novas-turmas-tabela.jpg" alt="Novidades" width="320" height="300">
            <h3 class="page-header text-center">Novidades</h3>
            <p>Estamos de visual novo para 2018.</p>   
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades"  width="320" height="300">
            <h3 class="page-header text-center">Novidades</h3>
            <p>Novidades para 2018!</p>   
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
            <h3 class="page-header text-center">Novidades</h3>
            <p>Novidades para 2018!</p>  
          </div>
        </div> -->
      </div>
      <br>
    </div>

    <!-- EFEITO PARALLAX 3 -->
    <div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/background-2.jpg);background-size:cover;">
      <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
        <div class="text-center">
         <h2 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="color: white;">Quem dança é muito mais feliz!</h2>
       </div>
     </div>
   </div>

   <!-- Container (Serviços seção) -->
   <div id="equipe" class="container-fluid text-center">
    <h2 style="color:black;font-size:25pt;">EQUIPE</h2>
    <h4 style="color:#303030;">Não tem um par, venha dançar assim mesmo, <br>pois temos uma equipe pronta para dançar! </h4>

    <br>
    <div class="row slideanim">
      {loop="$equipes"}
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img src="{$value.desphotoequipes}" alt="Equipe" class="img img-circle" style="width: 75%;margin: 0 auto;">
          <h3 class="page-header text-center">{$value.tituloequipe}</h3>
          <p>{$value.descequipe}</p>

          <div class="social">
            <a href="{$value.urlfacebook}" target="_blank" class="fa fa-facebook animated flipInY"></a>
            <a href="{$value.urlyoutube}" target="_blank" class="fa fa-youtube animated flipInY"></a>
            <a href="{$value.urlinstagram}" target="_blank" class="fa fa-instagram animated flipInY"></a>
            <a href="{$value.urlwhatsapp}" target="_blank" class="fa fa-whatsapp animated flipInY"></a>
          </div>
        </div>
      </div>
      {/loop}
<!--         <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <div class="thumbnail">
            <img src="/res/site/img/oziel-ferreira.png" alt="Novidades" class="img img-circle" style="width: 75%;margin: 0 auto;">
            <h3 class="page-header text-center">Professor</h3>
            <p>Carlinhos de Niterói.</p>

            <div class="social">
              <a href="https://web.facebook.com/oziel.ferreira.14" target="_blanck" class="fa fa-facebook animated flipInY"></a>
              <a href="https://www.youtube.com/user/ferreiracostaoziel/" target="_blanck" class="fa fa-youtube animated flipInY"></a>
              <a href="https://www.instagram.com/ozielferreiraofficial/" target="_blanck" class="fa fa-instagram animated flipInY"></a>
              <a href="https://api.whatsapp.com/send?phone=5521999244944&text=Deixe%20sua%20mensagem!%20Entraremos%20em%20contato%20o%20mais%20breve%20poss%C3%ADvel.%20Agradecemos%20o%20contato!" target="_blanck" class="fa fa-whatsapp animated flipInY"></a>
            </div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail">
            <img src="/res/site/img/novas-turmas-tabela.jpg" alt="Novidades" class="img-rounded">
            <h3 class="page-header text-center">Professor</h3>
            <p>Carlinhos de Niterói.</p>

            <div class="social">
              <a href="https://web.facebook.com/oziel.ferreira.14" target="_blanck" class="fa fa-facebook animated flipInY"></a>
              <a href="https://www.youtube.com/user/ferreiracostaoziel/" target="_blanck" class="fa fa-youtube animated flipInY"></a>
              <a href="https://www.instagram.com/ozielferreiraofficial/" target="_blanck" class="fa fa-instagram animated flipInY"></a>
              <a href="https://api.whatsapp.com/send?phone=5521999244944&text=Deixe%20sua%20mensagem!%20Entraremos%20em%20contato%20o%20mais%20breve%20poss%C3%ADvel.%20Agradecemos%20o%20contato!" target="_blanck" class="fa fa-whatsapp animated flipInY"></a>
            </div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail">
            <img src="/res/site/img/novas-turmas-tabela.jpg" alt="Novidades" class="img-rounded">
            <h3 class="page-header text-center">Professor</h3>
            <p>Carlinhos de Niterói.</p>

            <div class="social">
              <a href="https://web.facebook.com/oziel.ferreira.14" target="_blanck" class="fa fa-facebook animated flipInY"></a>
              <a href="https://www.youtube.com/user/ferreiracostaoziel/" target="_blanck" class="fa fa-youtube animated flipInY"></a>
              <a href="https://www.instagram.com/ozielferreiraofficial/" target="_blanck" class="fa fa-instagram animated flipInY"></a>
              <a href="https://api.whatsapp.com/send?phone=5521999244944&text=Deixe%20sua%20mensagem!%20Entraremos%20em%20contato%20o%20mais%20breve%20poss%C3%ADvel.%20Agradecemos%20o%20contato!" target="_blanck" class="fa fa-whatsapp animated flipInY"></a>
            </div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail">
            <img src="/res/site/img/novas-turmas-tabela.jpg" alt="Novidades" class="img-rounded">
            <h3 class="page-header text-center">Professor</h3>
            <p>Carlinhos de Niterói.</p>

            <div class="social">
              <a href="https://web.facebook.com/oziel.ferreira.14" target="_blanck" class="fa fa-facebook animated flipInY"></a>
              <a href="https://www.youtube.com/user/ferreiracostaoziel/" target="_blanck" class="fa fa-youtube animated flipInY"></a>
              <a href="https://www.instagram.com/ozielferreiraofficial/" target="_blanck" class="fa fa-instagram animated flipInY"></a>
              <a href="https://api.whatsapp.com/send?phone=5521999244944&text=Deixe%20sua%20mensagem!%20Entraremos%20em%20contato%20o%20mais%20breve%20poss%C3%ADvel.%20Agradecemos%20o%20contato!" target="_blanck" class="fa fa-whatsapp animated flipInY"></a>
            </div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail">
            <img src="/res/site/img/novas-turmas-tabela.jpg" alt="Novidades" class="img-rounded">
            <h3 class="page-header text-center">Professor</h3>
            <p>Carlinhos de Niterói.</p>

            <div class="social">
              <a href="https://web.facebook.com/oziel.ferreira.14" target="_blanck" class="fa fa-facebook animated flipInY"></a>
              <a href="https://www.youtube.com/user/ferreiracostaoziel/" target="_blanck" class="fa fa-youtube animated flipInY"></a>
              <a href="https://www.instagram.com/ozielferreiraofficial/" target="_blanck" class="fa fa-instagram animated flipInY"></a>
              <a href="https://api.whatsapp.com/send?phone=5521999244944&text=Deixe%20sua%20mensagem!%20Entraremos%20em%20contato%20o%20mais%20breve%20poss%C3%ADvel.%20Agradecemos%20o%20contato!" target="_blanck" class="fa fa-whatsapp animated flipInY"></a>
            </div>
        </div>
        </div>
      -->


      <!--   <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
            <h3 class="page-header text-center">Baixo Custo</h3>
            <p>O Mais Barato da Região.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
            <h3 class="page-header text-center">Baixo Custo</h3>
            <p>O Mais Barato da Região.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
            <h3 class="page-header text-center">Curto Prazo</h3>
            <p>Resolvemos seu problema.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
            <h3 class="page-header text-center">Trabalho</h3>
            <p>Especializado, Experiente e Qualificado.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
            <h3 class="page-header text-center">Garantia</h3>
            <p>Garantia de até 3 meses</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
            <h3 class="page-header text-center">Estudos</h3>
            <p>Sempre atualizado ao mercado.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
           <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
           <h3 class="page-header text-center">Não Fazemos Milagre</h3>
           <p>Consertarmos o aparelho.</p>
         </div>
       </div>
       <div class="col-sm-4">
        <div class="thumbnail">
         <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
         <h3 class="page-header text-center">Não Fazemos Milagre</h3>
         <p>Consertarmos o aparelho.</p>
       </div>
     </div> -->
   </div>
 </div>
 <!-- EFEITO PARALLAX 4 -->
 <div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/background-degrade.jpg);background-size:cover;">
  <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
    <div class="text-center">
     <h2 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="auto;color:white;">Faça uma aula experimental!</h2>
   </div>
 </div>
</div>
<!-- Container (Sessão iPhone) -->
<div id="ritmos" class="container-fluid text-center bg-grey">
  <div class="text-center">
    <h2 style="color:black;font-size:25pt;">RITMOS</h2>
    <h4 style="color:#303030;">Escolha um Ritmo e comece o ano dançando! </h4>
    <hr>
  </div>
  <br>
  <div class="row slideanim">
    {loop="$ritmos"}
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{$value.desphotoritmos}" alt="Novidades" width="320" height="300">
        <h3 class="page-header text-center" style="color:#303030;">{$value.tituloritmo}</h3>
        <p>{$value.descritmo}</p>
      </div>
    </div>
    {/loop}
<!--     <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
        <h3 class="page-header text-center" style="color:#303030;">Bachata</h3>
        <p>Resolvemos seu problema.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
        <h3 class="page-header text-center" style="color:#303030;">Forró</h3>
        <p>Especializado, Experiente e Qualificado.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
        <h3 class="page-header text-center" style="color:#303030;">Samba de Gafieira</h3>
        <p>Garantia de até 3 meses</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
        <h3 class="page-header text-center" style="color:#303030;">Salsa</h3>
        <p>Sempre atualizado ao mercado.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
       <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
       <h3 class="page-header text-center" style="color:#303030;">Tango</h3>
       <p>Consertarmos o aparelho.</p>
     </div>
   </div> -->
<!--    <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
      <h3 class="page-header text-center" style="color:#303030;">Soltinho</h3>
      <p>Garantia de até 3 meses</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
      <h3 class="page-header text-center" style="color:#303030;">Zouk</h3>
      <p>Sempre atualizado ao mercado.</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
     <img src="http://dummyimage.com/848x480/4d494d/686a82.gif&text=Exemplo" alt="Novidades" width="320" height="300">
     <h3 class="page-header text-center" style="color:#303030;">Zumba</h3>
     <p>Consertarmos o aparelho.</p>
   </div>
 </div> -->
</div>

<!-- <img src="#" class="img img-responsive" alt="a" style="width:70%;margin:0 auto;"/> -->
</div>

<!-- EFEITO PARALLAX 5 -->
<div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/background-praia.jpg);background-size:cover;">
  <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
    <div class="text-center">
     <h2 class="display-12 mb-12 wow fadeInDown" data-wow-delay="0.3s" style="color: yellow;">Temos uma turma pra você!</h2>
   </div>
 </div>
</div>

<!-- Container (Preço iPhone Sessão) -->
<div id="horario" class="container-fluid text-center bg-grey" style="background-color: rgba(0,0,0,0.65);background-image: url(/res/site/img/background-2.jpg); background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
  <div class="text-center">
    <h2 style="color:black;font-size:25pt;">Horários</h2>
    <h4 style="color:black;">Turmas de segunda a sábado!</h4>
    <hr>
  </div>
  <div class="row slideanim">
    <div class="col-md-12">

      <ul id="myTab" class="nav navbar-inverse nav-justified">
        <li class="active"><a href="#segunda" data-toggle="tab" style="color:white;"><i class=""></i> Segunda Feira</a>
        </li>
        <li class=""><a class="" href="#terca" data-toggle="tab" style="color:white;"><i class=""></i> Terça Feira</a>
        </li>
        <li class=""><a class="" href="#quarta" data-toggle="tab" style="color:white;"><i class=""></i> Quarta Feira</a>
        </li>
        <li class=""><a class="" href="#quinta" data-toggle="tab" style="color:white;"><i class=""></i> Quinta Feira</a>
        </li>
        <li class=""><a class="" href="#sexta" data-toggle="tab" style="color:white;"><i class=""></i> Sexta Feira</a>
        </li>
        <li class=""><a class="" href="#sabado" data-toggle="tab" style="color:white;"><i class=""></i> Sábado</a>
        </li>
      </ul>

      <div id="myTabContent" class="tab-content">
        <p></p>
        <div id="segunda" class="table-responsive tab-pane fade active in">
          <h3 class="page-header" style="text-align: center;">Segunda Feira</h3>
          <table class="table table-striped table-bordered">
            <thead>
              <tr class="light-grey">
                <th>Professor(a)</th>
                <th>Ritmo</th>
                <th>Nível</th>
                <th>Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Carlinhos de Niterói</td>
                <td>Dança de Salão</td>
                <td>Avançado</td>
                <td>19:00</td>
              </tr>
              <tr>
                <td class="light-grey">Carlinhos de Niterói</td>
                <td class="light-grey">Dança de Salão</td>
                <td class="light-grey">Intermediária</td>
                <td class="light-grey">20:30</td>
              </tr>
              <tr>
                <td>Estefano e Tallita</td>
                <td>Dança de Salão</td>
                <td>Iniciante</td>
                <td>20:30</td>
              </tr>
              <tr>
                <td class="light-grey">ND</td>
                <td class="light-grey">ND</td>
                <td class="light-grey">ND</td>
                <td class="light-grey">ND</td>
              </tr>
              <tr>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p></p>

        <div id="terca" class="table-responsive tab-pane fade">
          <h3 class="page-header" style="text-align: center;">Terça Feira</h3>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="light-grey1">
                <th>Professor(a)</th>
                <th>Ritmo</th>
                <th>Nível</th>
                <th>Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Carlinhos de Niterói</td>
                <td>Samba de Gafieira</td>
                <td>Intermediária/ Avançado</td>
                <td>18:30</td>
              </tr>
              <tr>
                <td class="light-grey">Oziel Ferreira e Tallita</td>
                <td class="light-grey">Dança de Salão</td>
                <td class="light-grey">Intermediária</td>
                <td class="light-grey">19:00</td>
              </tr>
              <tr>
                <td>Carlinhos de Niterói</td>
                <td>Tango</td>
                <td>Intermediária/ Avançado</td>
                <td>19:30</td>
              </tr>
              <tr>
                <td class="light-grey">Carlinhos de Niterói</td>
                <td class="light-grey">Dança de Salão</td>
                <td class="light-grey">Intermediária/ Avançada</td>
                <td class="light-grey">20:30</td>
              </tr>
              <tr>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
              </tr>
            </tbody>
          </table>
          <p></p>
        </div>
        <div class="table-responsive tab-pane fade" id="quarta">
          <h3 class="page-header" style="text-align: center;">Quarta Feira</h3>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="light-grey2">
                <th>Professor(a)</th>
                <th>Ritmo</th>
                <th>Nível</th>
                <th>Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
                <td>18:00</td>
              </tr>
              <tr>
                <td class="light-grey">Carlinhos de Niterói</td>
                <td class="light-grey">Ritmos Quentes</td>
                <td class="light-grey">Iniciante</td>
                <td class="light-grey">19:00</td>
              </tr>
              <tr>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
              </tr>
              <tr>
                <td class="light-grey">Carlinhos de Niterói</td>
                <td class="light-grey">Dança de Salão</td>
                <td class="light-grey">Intermediária</td>
                <td class="light-grey">20:30</td>
              </tr>
              <tr>
                <td>Oziel Ferreira e Carol</td>
                <td>Samba de Gafieira</td>
                <td>Iniciante</td>
                <td>21:00</td>
              </tr>
            </tbody>
          </table>
          <p></p>
        </div>
        <div class="table-responsive tab-pane fade" id="quinta">
          <h3 class="page-header" style="text-align: center;">Quinta Feira</h3>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="light-grey3">
                <th>Professor(a)</th>
                <th>Ritmo</th>
                <th>Nível</th>
                <th>Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Carlinhos de Niterói</td>
                <td>Tango</td>
                <td>Intermediária</td>
                <td>18:30</td>
              </tr>
              <tr>
                <td class="light-grey">Robson Clemente e Suellen Azevedo</td>
                <td class="light-grey">Forró (Pé Descalso)</td>
                <td class="light-grey">Iniciante/ Intermediária</td>
                <td class="light-grey">18:30</td>
              </tr>
              <tr>
                <td>Carlinhos de Niterói</td>
                <td>Dança de Salão</td>
                <td>Intermediária</td>
                <td>20:30</td>
              </tr>
              <tr>
                <td class="light-grey">Carlinhos de Niterói</td>
                <td class="light-grey">Salsa e Zouk</td>
                <td class="light-grey">Iniciante</td>
                <td class="light-grey">21:00</td>
              </tr>
            </tbody>
          </table>
          <p></p>
        </div>
        <div class="table-responsive tab-pane fade" id="sexta">
          <h3 class="page-header" style="text-align: center;">Sexta Feira</h3>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="light-grey4">
                <th>Professor(a)</th>
                <th>Ritmo</th>
                <th>Nível</th>
                <th>Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Carlinhos de Niterói</td>
                <td>Tango</td>
                <td>Iniciante</td>
                <td>19:30</td>
              </tr>
              <tr>
                <td class="light-grey">Clautenes</td>
                <td class="light-grey">West Coast Swing</td>
                <td class="light-grey">Intermediária</td>
                <td class="light-grey">20:30</td>
              </tr>
              <tr>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
                <td>ND</td>
              </tr>
              <tr>
                <td class="light-grey">ND</td>
                <td class="light-grey">ND</td>
                <td class="light-grey">ND</td>
                <td class="light-grey">ND</td>
              </tr>
            </tbody>
          </table>
          <p></p>
        </div>
        <div class="table-responsive tab-pane fade" id="sabado">
          <h3 class="page-header" style="text-align: center;">Sábado</h3>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="light-grey5">
                <th>Professor(a)</th>
                <th>Ritmo</th>
                <th>Nível</th>
                <th>Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Marcia Pinheiro</td>
                <td>Profilaxia</td>
                <td>Iniciada/ Intermediária</td>
                <td>15:00</td>
              </tr>
              <tr>
                <td class="light-grey">Carlinhos de Niterói</td>
                <td class="light-grey">Dança de Salão para criança</td>
                <td class="light-grey">Iniciante</td>
                <td class="light-grey">17:00</td>
              </tr>
              <tr>
                <td>Oziel Ferreira e Larissa</td>
                <td>Dança de Salão</td>
                <td>Iniciante</td>
                <td>17:00</td>
              </tr>
              <tr>
                <td class="light-grey">Oziel Ferreira e Larissa</td>
                <td class="light-grey">Ritmos Quentes</td>
                <td class="light-grey">Iniciante</td>
                <td class="light-grey">18:30</td>
              </tr>
            </tbody>
          </table>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- EFEITO PARALLAX 6 -->
<div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/parallax-1.jpg);background-size:cover;">
  <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
    <div class="text-center">
      <h2 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="color: white;">Conheça um pouco mais!</h2>
    </div>
  </div>
</div>
<!-- Container (Preço iPad Sessão) -->
<div id="video" class="container-fluid text-center bg-grey">
  <div class="text-center">
    <h2 style="color:black;font-size:25pt;">Videos</h2>
    <h4 style="color:black;">Aula, projetos e apresentações</h4>
    <hr>
  </div>
  <div class="row slideanim">
    {loop="$videos"}
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="{$value.urlvideo}" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;font-size: 100%;">{$value.titulovideo}</h4>
        <p>{$value.descvideo}</p>
      </div>
    </div>
    {/loop}
<!--     <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/kcgQjuxxSgw?t" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Baile Aniversário da Escola</h4>
        <p>Carlinhos de Niterói e Bárbara Ribeiro.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/GqJh-82C4gA" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Workshop Bolero in Foco</h4>
        <p>Carlinhos de Niterói e Bárbara Ribeiro.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/ltsGIjHmNzw" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Samba no pé - Projeto Praia</h4>
        <p>Carlinhos de Niterói.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/E8mzK2MNApE" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Turma de Salsa Intermediária</h4>
        <p>Escola de Dança JA Niterói Filial.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/YN_Hivp8U5s" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">2º Congresso Cia Samba e Zouk</h4>
        <p>Consertarmos o aparelho.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/4kPJq2fT_Cc" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Bolero IN Foco 2017</h4>
        <p>Carlinhos de Niteroi e Barbara Ribeiro.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/lDCQf6j3ZsY" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Apresentação Rock</h4>
        <p>8° aniversário da Escola JA Niterói Filial.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/SfUhnGNe-yY" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Cá Entre Nós</h4>
        <p>Carlinhos de Niterói e Bárbara Ribeiro.</p>
      </div>
    </div>
    <div class="col-sm-4 hidden-xs">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/FMS8s04O9Pw" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Dança em Evidência</h4>
        <p>Carlinhos de Niterói e Mariana Dulcetti.</p>
      </div>
    </div>
    <div class="col-sm-4 hidden-xs">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/szpE5CiH9LM" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Teatro Municipal de Niteroi</h4>
        <p>Carlinhos de Niteroi e Bianca Gonzalez.</p>
      </div>
    </div>
    <div class="col-sm-4 hidden-xs">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="250" src="https://www.youtube.com/embed/ijhJEPY63FY" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 style="color:black;">Flash Mob</h4>
        <p>Baile do Carlinhos de Niterói e Jaime Arôxa.</p>
      </div>
    </div> -->
    <br>
  </div>

  <div class="col-md-12">
    <button class="btn btn-outline btn-default btn-md" style="color:white;"><a href="https://www.youtube.com/channel/UC0fEs0WekTUlg9qXAqFPSMA" target="_blank" style="text-decoration: none; color: black;"><i class="fa fa-plus"></i> Veja mais em nosso canal...</a></button>
  </div>
</div>
<!-- EFEITO PARALLAX 7 -->
<div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/background_contato.jpg);background-size:cover;">
  <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
    <div class="text-center">
     <h2 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="color: black;">Entre em contato conosco!</h2>
   </div>
 </div>
</div>

<!-- Container (Contato sessão) -->
<div id="contato" class="container-fluid">
  <h2 class="text-center" style="color:black;font-size:25pt;">CONTATO</h2>
  <h4 class="text-center" style="color:black;">Aguardamos seu contato, retornaremos o mais breve possível.</h4>
  <div class="row slideanim">

    <form name="envioform" action="./envio.php" method="post" accept-charset="utf-8" role="form">      <!--  data-toggle="validator" para colocar a msg de erro, forma de validar direto pelo bootstrap / colocar dentro da DIV class="form-group a msg:  data-error="* Por favor, informe seu nome completo." e essa outra div colocar abaixo antes do fechamento da DIV form-group  - <div class="help-block with-errors"></div>"-->

      <div class="col-sm-7" style="background-color: rgba(0,0,0,0.65); border-radius: 4px;">
        <div class="panel-heading">

          <h4 class="panel-title text-center titulo">
            <span class="glyphicon glyphicon-log-in"></span>&nbsp; FALE CONOSCO
          </h4>

        </div>
        <div class="panel panel-primary" style="background: rgba(0,0,0,0.10); border-radius:4px;">

          <div class="panel-body text-left">
           <div class="form-group">
            <label>Nome *</label> 
            <input type="text" name="nome" class="form-control" placeholder="Digite seu Nome..." maxlength="50" data-error="* Por favor, informe seu nome completo.">  
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label>Email *</label> 
            <input type="email" name="email" class="form-control"
            placeholder="Digite seu email..." maxlength="42" data-error="Por favor, informe um e-mail válido.">  
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label>Telefone *</label>
            <input type="text" name="telefone" value="" maxlength="15" class="form-control simple-field-data-mask placehoder" data-mask="(21) 000000000" placeholder="Digite seu Telefone..." data-error="* Por favor, informe seu telefone.">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="form_ritmo" style="color: black;">Ritmos *</label>
            <button id="infoAulas" type="button" class="btn btn-xs btn-danger" data-toggle="popover" title="*******Ritmos*******" data-content="<b>Dança de Salão</b><br>Bolero/Samba/Soltinho<br>************************<br><b>Ritmos Quentes</b><br>Forró/Salsa/Zouk<br>************************<br>Forró e Salsa<br>Salsa e Zouk<br>Forró<br>Samba de Gafieira<br>Salsa<br>Tango<br>Aula Particular<br>Nunca dancei">Opções de aula
            </button>

            <input type="text" name="ritmo" id="form_ritmo" class="form-control" placeholder="Digite seu ritmo..." maxlength="50" data-error="* Por favor, diga qual ritmo de sua preferência.">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="form_assunto" style="color: black;">Assunto *</label>
            <input type="text" name="assunto" id="form_assunto" class="form-control" placeholder="Digite seu assunto..." size="40" data-error="* Por favor, deixe-nos seu assunto.">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label style="color: black;">Mensagem *</label>
            <textarea name="mensagem" cols="30" rows="5" maxlength="1000" placeholder="Digite sua mensagem, máximo de 1000 caracteres" class="form-control" style="resize: none;" data-error="* Por favor, deixe-nos uma mensagem."></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <hr style="color: white;">
          <p class="text-center text-danger" id="e" style="color:red;font-size: 10pt;"></p>
          <div class="form-group"> 
            <button type="button" class="btn btn-success btn-md btn-send" value="Enviar" onclick="validarEnvio()">Enviar</button> <!--  onclick="return validaForm()" -->
            <button type="reset" class="btn btn-md btn-danger " value="Apagar">Apagar</button>
          </div>

        </div>
      </div>
    </div>
  </form>
  <div class="col-sm-5">
    <div class="panel-heading">
      <h4 class="panel-title text-center titulo">
        <span class="glyphicon glyphicon-map-marker"></span> ENDEREÇO
      </h4>
    </div>
    <div class="panel panel-primary" style="background: rgba(0,0,0,0.05); border-radius:4px; height: 670px;">

      <div class="panel-body text-left ender">
        <p><span class="glyphicon glyphicon-map-marker logo-map"></span><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1893257.7259864744!2d-42.92859835284115!3d-22.058430399736036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983fb88384501%3A0x3e92c64b78be747e!2sEscola+de+Dan%C3%A7a+Jaime+Ar%C3%B4xa+Carlinhos+de+Niter%C3%B3i!5e0!3m2!1spt-BR!2sbr!4v1510844955113" target="_blanck"> Av. Sete de Setembro, 73 - sala 201</a></p>
        <p><span class="glyphicon glyphicon-ok logo-map"></span> Escola de Dança Jaime Arôxa Carlinhos de Niterói</p>
        <p><span class="glyphicon glyphicon-ok logo-map"></span>  Niterói, Icaraí</p>
        <p><span class="glyphicon glyphicon-phone logo-map"></span> 21 2704-8558</p>
        <p><span class="glyphicon glyphicon-envelope logo-map"></span> <a href="mailto:jaimearoxaniteroifilial@gmail.com"> jaimearoxaniteroifilial@gmail.com</a></p>

      </div>

    </div>

  </div>

</div>
</div>
<!-- EFEITO PARALLAX 8 -->
<div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/background_contato.jpg);background-size:cover;">
  <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
    <div class="text-center">
     <h2 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="color: black;">Localização de fácil acesso!</h2>
   </div>
 </div>
</div>
<!-- Container (MAPA sessão) -->
<div id="ondeEstamos" class="container-fluid" style="background-image: url(/res/site/img/mapa.gif);">
  <h2 class="text-center" style="color:black;font-size:25pt;"><span class="glyphicon glyphicon-map-marker"></span> ONDE ESTAMOS!</h2>
  <h4 class="text-center" style="color: black;"> Fácil acesso, em frente ao Mercado Prix.</h4>

  <div class="googleMaps" style="margin-bottom: -8px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1893257.7259864744!2d-42.92859835284115!3d-22.058430399736036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983fb88384501%3A0x3e92c64b78be747e!2sEscola+de+Dan%C3%A7a+Jaime+Ar%C3%B4xa+Carlinhos+de+Niter%C3%B3i!5e0!3m2!1spt-BR!2sbr!4v1510844955113" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
      <!-- EFEITO PARALLAX 9 -->
      <div class="view intro-1 intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/res/site/img/background-preto.jpg);background-size:cover;">
       <div class="container flex-center" style="padding-top:100px;padding-bottom: 100px;">
         <div class="text-center">
           <h2 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s" style="color: white;">"Venha dançar com gente!"</h2>
         </div>
       </div>
     </div>

</div><!-- FIM DO PARALLAX -->